<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/scripts/app.js"></script>
    <title>SkyRB</title>
</head>
<body onload="timezone()">
    <header class="header">
        <div class="logo">
            <h2>SkyRB</h2>
        </div>
    </header>
    <section class="conteiner">
        <div class="options">
            <div class="columns">
                <div class="column">
                    <div class="title">
                        <h2>Cep</h2>
                    </div>
                    <div class="example">
                        <i>Ex: 01001000</i>
                    </div>
                    <div class="test">
                        <code>
                            cep => 01001-000<br>
                            logradouro => Praça da Sé<br>
                            complemento => lado ímpar <br>
                            bairro => Sé<br>
                            localidade => São Paulo  <br>
                            uf => SP <br>
                            ibge => 3550308 <br>
                            gia => 1004 <br>
                            ddd => 11 <br>
                            siafi => 7107 <br>
                        </code>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div id="getHours"></div>
    </footer>
</body>
</html>